@mixin user-select($property) {
  -webkit-user-select: $property;  /* Chrome all / Safari all */
  -moz-user-select: $property;     /* Firefox all */
  -ms-user-select: $property;      /* IE 10+ */
  user-select: $property; 
}

// * {
//   margin: 0;
//   padding: 0;
//   }

// body {
//   margin: 0; /* interferes with 100vw */
// }

#output_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

#output_area {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vw;
  height: 80vh;
  background-color: rgb(145, 145, 255);
  transform: translateY(5vh);
  pointer-events: auto;
}

#viewport_test {
  width: 100vw;
  height: 100vh;
}

#scroll_container {
  height: 250vh;
  width: 50vw;
}

@media (max-width: 1080px) {
  #output_area {
    width: 70vw;
  }
}

@media (max-width: 720px) {
  #output_area {
    width: 80vw;
  }
}

@media (max-width: 480px) {
  #output_area {
    width: 90vw;
  }
}