body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#scroll_val {
  position: fixed;
  bottom: 0.1rem;
  left: 0.2rem;
  z-index: 100;
}

#lorem_main {
  font-size: 2rem;
  width: 90%;
  margin: auto;
  line-height: 200%;
}

#shadow_container {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid red;
  height: 100vh;
  z-index: -1;
  margin: 0;
}

#shadow_text {
  width: 450%;
  font-size: 10rem;
  color: #ededed;
  font-weight: bold;
  border: 1px solid blue;
  transform: translateY(-20px);
  margin: 0;
  padding: 0;
}
