body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#lorem_main {
  font-size: 2em;
  width: 90%;
  margin: auto;
}

#lorem_container {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid red;
  height: 100vh;
  z-index: -1;
}

#lorem_text {
  width: 200%;
  font-size: 8rem;
  color: #f2f2f2;
  font-weight: bold;
  border: 1px solid blue;
}
