<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#if navHome}}active{{/if}}" href="index.html">Home</a>
    </li>
    <li>
      <a class="nav-link {{#if navFadingSlider}}active{{/if}}" href="fading-slider.html">Fading Image Slider</a>
    </li>
    <li>
      <a class="nav-link {{#if navScrollShadow}}active{{/if}}" href="scroll-shadow.html">Scroll Shadow</a>
    </li>
  </ul>
</nav>